.stats {
  font-size: large;
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;

  &--header {
    font-weight: 700;
  }

  &--category-container {
    margin-top: 3rem;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
  }
  &--category-links {
    width: 40%;
  }

  &--ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    line-height: 3rem;
  }

  &--category-item {
    display: inline-block;

    a,
    :link:visited {
      text-decoration: none; // Remove underline from links
      color: black;
    }
  }
}

//? GOALIE STATS CATEGORIES HEADERS
.goalie--stats {
  width: 80vw;
  margin-left: 15%;
  margin-top: 1.5%;

  &-h1 {
    width: 80vw;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
  }

  &-categories {
    height: 3rem;
    background-color: black;
    color: white;

    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }
  &-header {
    font-size: 2rem;
  }

  &-table {
    width: 100%;
  }

  &-player {
    font-size: 1.5rem;
  }
}
